@media screen and (min-width: 600px) {
  #menu {
    display: none;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
  }

  header span {
    margin-bottom: 0;
  }

  nav {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    width: auto;
    gap: 1rem;
  }

  .album-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}